<% include ./partials/header %>
<div class="jumbotron">
    <div class="h1 text-center text-success">Novo Usuario</div>
    <form action="/registro" method="POST">
        <div class="field">
            <label>Login</label>
            <input class="form-control" type="text" name="username" placeholder="Usuario">
        </div>
        <div class="field">
            <label>Senha</label>
            <input class="form-control" type="text" name="password" placeholder="Senha">
        </div>
        <br>
        <input class="btn btn-lg btn-outline-success" type="submit">
    </form>
</div>
<% include ./partials/footer %>

